[Unit]
Description=Jenkins
After=network.target
Requires=network.target

[Service]
Type=simple
EnvironmentFile={{ jenkins_config }}/jenkins
ExecStart=/usr/bin/java ${JENKINS_JAVA_OPTIONS} -jar {{ jenkins_war | default('/usr/share/jenkins') }}/jenkins.war --httpPort=${JENKINS_PORT}
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
User=jenkins
RestartSec=20

[Install]
WantedBy=multi-user.target
